extends layout

block content
	.inner
		.articles
			h2 #[a(href="articles/balancer-assembly") Монтаж балансира] 
			a(href="articles/balancer-assembly") #[img.main__img(src="/images/articles/balancer-assembly/balancer_assembly_hero.png")]
			p В ходе эксплуатации первая ревизия показала неплохой результат. Я не знаю ни единого факта выхода из строя. Вернее факт был - но объективный. Его "зажарили" большим током. Ошибка эксплуатации, так сказать. Не правильно был выставлен предел по напряжению...
			a.articles__readmore(href="articles/balancer-assembly") Читать далее →
			.spacer

	