extends layout

block content
	.inner
		h2 Покупка
		p Вы можете купить изделия в нашем магазине: #[a.article-link(href="https://shop.emkit.net/") EmKit Shop]
		p Наши дистрибьюторы: <br/>
			| #[a.article-link(href="https://www.radiodetali.com.ua/") Интернет-магазин радиодеталей]  <br/>
			| #[a.article-link(href="http://www.signal.net.ua/") Радиодетали и комплектующие]