extends layout
include mixins/_itemCard

block content
	.inner
		h2 #{category || Categories}
		ul.categories
			each c in categories
				li.category
					a.category__link(href=`/categories/${c._id}` class=(c._id === category ? 'category__link--active' : ''))
						span.category__text= c._id
						span.category__count= c.count
		.items
			each item in items
				+itemCard(item)