extends layout

block content
	.inner
		h2 Контакты
		p Мы торгуем тем, что производим сами, либо тем что производят наши друзья. За товар которых мы можем отвечать как за свой. Наш профиль - электронные изделия широкого профиля. Начиная от макетных плат и заканчивая системами управления электродвигателя. А когда ни будь, в будущем мы будем делать системы управления для космической отрасли :).
		p Для связи с нами пишите на email: #[img(src="/images/email.png" style="margin-bottom: -4px;")]
		p Или звоните по телефону: #[span.emp +380675737722]