extends ../layout

block socialtags
	//- facebook
	meta(property="og:title" content="Монтаж балансира")
	meta(property="og:image" content="https://emkit.net/images/articles/balancer-assembly/balancer_assembly_hero.png")
	meta(property="og:site_name" content="Emkit")
	meta(property="og:description" content="Балансир предназначен для шунтирования ячеек литиевой АкБ во время заряда. В этой статье Юрий Логвин с Мельником Александром рассказывают об особенностях второй ревизии их балансира")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:url" content="https://emkit.net/articles/balancer-assembly")
	//- twitter
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:description" content="Балансир предназначен для шунтирования ячеек литиевой АкБ во время заряда. В этой статье Юрий Логвин с Мельником Александром рассказывают об особенностях второй ревизии их балансира")
	meta(name="twitter:title" content="Монтаж балансира")
	meta(name="twitter:site" content="@Emkit")
	meta(name="twitter:image" content="https://emkit.net/images/emkit_hero_twitter.png")
	meta(name="twitter:creator" content="@Logvin")

block content
	.inner
		.articles
			h2 Монтаж балансира 
			img.main__img(src="/images/articles/balancer-assembly/balancer_assembly_hero.png")
			p В ходе эксплуатации первая ревизия показала неплохой результат. Я не знаю ни единого факта выхода из строя. Вернее факт был - но объективный. Его "зажарили" большим током. Ошибка эксплуатации, так сказать. Не правильно был выставлен предел по напряжению...
			p Были выявлены некоторые "неправильности". Которые мы с Мельником Александром постарались устранить во второй ревизии. Из доработок:
			ul
				li Заменены резисторы в корпусе #[span.emp 2010] на корпус #[span.emp 1206]. Ввиду слабой распространённости первых. Стоимости пайки возросла (больше площадок), зато цена деталек упала.
				li Общее сопротивление балансировочных резисторов увеличено. Практика показала, что для данного конструктива долговременный балансировочный ток составляет #[span.emp 0.6 А].
				li Добавлен резистор #[span.emp R10] для возможности питания диода через силовой транзистор. Позволяет не впаивать сигнальный транзистор #[span.emp Q2]
				li Добавлена цепь для реализации гистерезиса отключения балансировки. При #[span.emp 1 MОм] - порядка #[span.emp 1 мВ]. Это позволяет сделать устройство не чувствительным к шумам.
				li В цепь базы транзисторов включены ограничительные резисторы.
			p Ток балансировки - #[span.emp 600 мА]. <br/>
				| Ток в дежурном режиме - #[span.emp 400 мкА]. <br/>
				| Напряжение срабатывания - #[span.emp 3.61 В]. <br/>
				| Погрешность #[span.emp 2%]. <br/>
				| Размер платы #[span.emp 40] на #[span.emp 20 мм]. <br/>
				| Гистерезис - #[span.emp 1 мВ].
			h3 Монтаж
			p Я не буду повторять описание относительно способов монтажа, они не изменились по сравнению с #[a.article-link(href="http://logvin-yuriy.blogspot.com/2012/07/blog-post.html") первой ревизией].
			h3 Схема
			p Собственно новая схема:
			img.article__img(src="/images/articles/balancer-assembly/A1103.Schematic.jpg")
			span.article__img__label новая схема балансира
			p Используемые материалы:
			img.article__img(src="/images/articles/balancer-assembly/A1103.BOM.jpg")
			span.article__img__label материалы использованные в процессе компоновки балансира
			p Для балансировки #[span.emp LiPo АкБ (4.2 V)] следует изменить номиналы резисторов в делителе: <br/>
				| #[span.emp R2 - 86.6 k] <br/>
				| #[span.emp R3 - 7.5 k] <br/>
			h3 Ввод в эксплуатацию
			ol
				li Выставить на зарядном устройстве (ЗУ) напряжение равное количеству последовательных ячеек помноженное на напряжение балансировки.
				li Зарядить батарею до загорания светодиодов на всех балансирах.
				li Чуть-чуть снизить напряжение на ЗУ, чтобы потухла примерно половина балансиров.
			p В результате в конце заряда будет примерно следующая картинка: загорелся один балансир, потух, загорелся другой, потом будет загораться все больше балансиров. Будет такая себе "цветомузыка". В конце концов все балансиры потухнут. Ток от ЗУ потребляться не будет.
			h3 Как выглядит
			p Платы изготовлены по #[span.emp 10] штук на одной заготовке. Распаиваются они так же по #[span.emp 10] штук. Вот так выглядит заготовка с #[span.emp 10ю] платами и распаянными деталями:
			img.article__img(src="/images/articles/balancer-assembly/10Plates.jpg")
			span.article__img__label заготовка на 10 балансиров
			p Одна плата:
			img.article__img(src="/images/articles/balancer-assembly/1Plate.jpg")
			span.article__img__label одна плата
			h3 Приобретение
			p Теперь по продаже изделия. Возможны 2 варианта:
			ul
				li Отдельно платы (нераспаянные) - это стоит #[span.emp $0.5] за платку
				li Распаянные платки - #[span.emp $2.5] за платку
			p По вопросу приобретения пишите на адрес #[span.emp yuriy.logvin<сабачка>gmail.com]
			p Будем рады если вам будут полезны наши изделия. <br/> С уважением, Логвин Юрий и Мельник Александр.
	