extends ../layout

block content
	.inner
		.articles
			h2 Монтаж балансира 
			img.main__img(src="/images/articles/balancer-assembly/balancer_assembly_hero.png")
			p В ходе эксплуатации первая ревизия показала неплохой результат. Я не знаю ни единого факта выхода из строя. Вернее факт был - но объективный. Его "зажарили" большим током. Ошибка эксплуатации, так сказать. Не правильно был выставлен предел по напряжению...
			p Были выявлены некоторые "неправильности". Которые мы с Мельником Александром постарались устранить во второй ревизии. Из доработок:
			ul
				li Заменены резисторы в корпусе #[span.emp 2010] на корпус #[span.emp 1206]. Ввиду слабой распространённости первых. Стоимости пайки возросла (больше площадок), зато цена деталек упала.
				li Общее сопротивление балансировочных резисторов увеличено. Практика показала, что для данного конструктива долговременный балансировочный ток составляет #[span.emp 0.6 А].
				li Добавлен резистор #[span.emp R10] для возможности питания диода через силовой транзистор. Позволяет не впаивать сигнальный транзистор #[span.emp Q2]
				li Добавлена цепь для реализации гистерезиса отключения балансировки. При #[span.emp 1 MОм] - порядка #[span.emp 1 мВ]. Это позволяет сделать устройство не чувствительным к шумам.
				li В цепь базы транзисторов включены ограничительные резисторы.
			p Ток балансировки - #[span.emp 600 мА]. <br/>
				| Ток в дежурном режиме - #[span.emp 400 мкА]. <br/>
				| Напряжение срабатывания - #[span.emp 3.61 В]. <br/>
				| Погрешность #[span.emp 2%]. <br/>
				| Размер платы #[span.emp 40] на #[span.emp 20 мм]. <br/>
				| Гистерезис - #[span.emp 1 мВ].
			h3 Монтаж
			p Я не буду повторять описание относительно способов монтажа, они не изменились по сравнению с #[a.article-link(href="http://logvin-yuriy.blogspot.com/2012/07/blog-post.html") первой ревизией].
			h3 Схема
			p Собственно новая схема:
			img(src="/images/articles/balancer-assembly/A1103.Schematic.jpg")
	