html {
  font-size: 10px;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $purple;
  background:#efefef;
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 0;
  }
  @media all and (max-width: 650px) {
    padding: 5px;
  }
}

footer {
  background: #303030;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  // padding: 1rem;
  text-align: center;
  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
    height: 10px;
    width: 100%;
  }
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width:900px;
    margin: 0 auto;
    p {
      text-align: center;
      color: #fff;
      a {
        color: lawngreen;
      }
    }
  }
}


@media all and (max-width: 650px) {
  .inner h2 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

